$border-r: 12px
    
// Lightmode
$c1:    #eeeeee
$c2:    #d6d6d6
$c3:    #bdbdbd
$c3t:   #bdbdbd00
$c4:    #111111
$c5:    #0c0c0c
$ca:    #ff0000

// Darkmode
$c0:    #000000af
$c1:    #0c0c0c
$c2:    #111111
$c3:    #212121
$c3t:   #21212100
$c33:    #333333af
$c4:    #bbbbbb
$c5:    #eeeeee
$ca:    #ff0000
$caa:   #aa0000 
