// Border radius options
$border-r: 0px
$border-r: 24px
$border-r: 12px

// The header grid layout
$hGrid: 360px minmax(224px, 1fr) 360px
$hGrid: 320px 1fr 320px
// Transition times
$t1: .1s
$t2: .2s
$t3: .3s 

// Breakpoints
$sm: 450px
$md: 800px
$lg: 1281px
$fx: 1840px

    
// Lightmode
// $c1:    #eeeeee
// $c2:    #d6d6d6
// $c3:    #bdbdbd
// $c3t:   #bdbdbd00
// $c4:    #111111
// $c5:    #0c0c0c
// $ca:    #ff0000

// Darkmode
$c0:    #0e000092
$c1:    #000c0c
$c2:    #070c0c
$c3:    #081616
$c3t:   #08161600
$c33:   #18292992
$c3b:   #203838
$c4:    #919b9b
$c44:   #bbcccc
$c5:    #dceeee
$c6:    #f2ffff
$ca:    #ff0000
$caa:   #dd0000 
$cab:   #461212 
$cat:   #ff000079


// html 
//     --black-a:  #00000092
//     --black-f:   #000c0c
//     --dark:      #101414
//     --dark-aa:   #10141400
//     --dark-a:    #24292992
//     --gray:      #919b9b
//     --grayy:     #bbcccc
//     --white:     #dceeee
//     --whitee:    #f2ffff
//     --accent:    #ff0000
//     --accentt:   #dd0000 


// // Lightmode
// $c0:    #24242492
// $c1:    #dceeee
// $c2:    #adbbbb
// $c3:    #aeb3b3
// $c3t:   #adbbbb00
// $c33:   #c6d8d892
// $c4:    #363f3f
// $c44:   #101414
// $c5:    #222929
// $c6:    #1a1d1d
// $ca:    #00aaaa
// $caa:   #009797 

// // Neon
// $c0:    #00000092
// $c1:    #000c0c
// $c2:    #101414
// $c3:    #101414
// $c3t:   #10141400
// $c33:   #24292992
// $c4:    #3f6e6e
// $c44:   #bbcccc
// $c5:    #53d8d8
// $c6:    #f2ffff
// $ca:    #00aaaa
// $caa:   #00ffff 








