@import "reset";
@import "variables";
    
*
    font-family: 'Roboto Mono', monospace
    color: $c5
    text-decoration: none
    outline: none
    font-size: 13px

body
    background: $c2
    // overflow-x: hidden

button
    background: $c3
    border: none
    padding: .4rem

button:hover
    cursor: pointer





@import "header";
// @import "login";
@import "notesnav"
@import "mainsection"
@import "sidebar"
@import "footer";
@import "fullnoteside";

@media screen and ( max-width: 450px )
    *
        font-size: 10px

@media screen and ( max-width: 320px )
    body
        resize: scroll