@import "reset";
@import "variables";
    
*
    font-family: 'Roboto Mono', monospace
    color: $c5
    text-decoration: none
    outline: none
    font-size: 13px

body
    background: $c3
    // height: 100vh
    overflow-x: hidden

button
    background: $c3
    border: none
    padding: .4rem

button:hover
    cursor: pointer





@import "header";
@import "login";
@import "notes";
@import "todo";