@import "variables";

    
*
    margin: 0
    padding: 0
    font-family: monospace
    color: $c5
    text-decoration: none
body
    background: $c1
    height: 100vh


button
    background: $c3
    border: none
    padding: .4rem

button:hover
    cursor: pointer




@import "header";
@import "login";
@import "notes";
@import "todo";
    

