* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Roboto Mono', monospace;
  color: #eeeeee;
  text-decoration: none;
  outline: none;
  font-size: 13px;
}

body {
  background: #141414;
  overflow-x: hidden;
}

button {
  background: #141414;
  border: none;
  padding: .4rem;
}

button:hover {
  cursor: pointer;
}

nav {
  display: none;
  position: relative;
  width: 100vw;
  height: 60px;
  background: #141414;
}

nav .nav-container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 140px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .nav-container a {
  font-size: 2rem;
  color: #eeeeee;
  text-decoration: none;
  text-transform: lowercase;
}

.login-message {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2rem;
}

.login-main {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 7rem;
  padding: 2.5rem 4rem 4rem 4rem;
  background: #111111;
  color: red;
  border-radius: 8px;
}

.login-main form input {
  margin: .75rem 0;
  padding: .75rem 1rem;
  font-size: 1.5rem;
  background: #212121;
  border: none;
  border-radius: 4px;
}

.login-main form p {
  font-size: 1.75rem;
}

.login-main form button {
  float: right;
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #0c0c0c;
  background: #eeeeee;
  border: none;
  border-radius: 4px;
}

.login-main form button:hover {
  cursor: pointer;
  background: #c7c7c7;
}

.login-main form a {
  display: block;
  padding: .75rem .25rem;
  font-size: 1.25rem;
}

.login-main form a:hover {
  text-decoration: underline;
}

select {
  -moz-appearance: textfield;
}

select:hover,
select:focus {
  -moz-appearance: number-input;
}

input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

header {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr 400px;
      grid-template-columns: 400px 1fr 400px;
      grid-template-areas: "left mid right";
  width: 100%;
  top: 0;
  -webkit-box-shadow: 5px 5px 10px 7px #00000092;
          box-shadow: 5px 5px 10px 7px #00000092;
}

.categories-bar-overlay {
  position: absolute;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  display: none;
  -ms-grid-columns: 400px 1fr 400px;
      grid-template-columns: 400px 1fr 400px;
  height: 165px;
  width: 100%;
  pointer-events: none;
  -webkit-box-shadow: 5px 5px 10px 5px #00000092;
          box-shadow: 5px 5px 10px 5px #00000092;
}

.categories-bar-overlay div {
  background: #141414;
}

.categories-bar-overlay .categories-overlay-middle {
  background: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(4rem, #14141400), color-stop(90%, #14141400), to(#141414));
  background: linear-gradient(90deg, #141414 0%, #14141400 4rem, #14141400 90%, #141414 100%);
}

.categories-container {
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mid;
  height: 165px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #141414;
  overflow: hidden;
}

.categories-container .inner-categories-container::-webkit-scrollbar {
  display: none;
}

.categories-container .inner-categories-container {
  z-index: 2;
  background: #141414;
  margin: 1.5rem 1.5rem;
  height: 30%;
  padding: 1rem 3rem 5rem 3rem;
  overflow-y: scroll;
  border-radius: 12px;
  -webkit-box-shadow: inset 5px 5px 5px 3px #00000092, inset -5px -5px 5px 3px #29292992;
          box-shadow: inset 5px 5px 5px 3px #00000092, inset -5px -5px 5px 3px #29292992;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.categories-container .inner-categories-container .category {
  display: block;
  z-index: -1;
  float: left;
  font-style: italic;
  margin: .5rem;
  padding: .25rem 1.5rem;
  background: #141414;
  border-radius: 9999px;
  border: #ff0000 2px solid;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.categories-container .inner-categories-container .category:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 7px #ffffff;
  cursor: pointer;
}

.notes-leftside-options-container {
  position: relative;
  z-index: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  padding: 2rem 4rem 1.5rem .5rem;
  background: #141414;
}

.notes-leftside-options-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
  -ms-grid-rows: 3fr 2fr;
      grid-template-rows: 3fr 2fr;
      grid-template-areas: "input input create" "color color label";
  grid-gap: 1rem;
  width: 100%;
}

.notes-leftside-options-container label {
  font-size: 1.15rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: italic;
  padding: .25rem 3.25rem;
  background: #141414;
  border-radius: 9999px;
  border: #8f8f8f 2px solid;
}

.notes-leftside-options-container label:hover {
  color: #ffffff;
  text-decoration: underline;
  text-shadow: 0px 0px 7px #ffffff;
  cursor: pointer;
}

.notes-leftside-options-container button {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: create;
  color: #ff0000;
  font-weight: bold;
  font-size: 1.15rem;
  height: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-radius: 12px;
  -webkit-box-shadow: 3px 3px 2px 2px #00000092, -3px -3px 2px 2px #29292992;
          box-shadow: 3px 3px 2px 2px #00000092, -3px -3px 2px 2px #29292992;
}

.notes-leftside-options-container button:hover {
  color: #ff0000;
  text-decoration: underline;
  text-shadow: 0px 0px 7px #ff0000;
  cursor: pointer;
}

.notes-leftside-options-container input {
  padding: 0.25rem;
  background: #141414;
  border-radius: 12px;
}

.notes-leftside-options-container input:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: input;
  padding: .75rem 0rem .25rem 1.5rem;
  border: 1px solid #14141400;
  -webkit-box-shadow: inset 3px 3px 2px 2px #00000092, inset -3px -3px 2px 2px #29292992;
          box-shadow: inset 3px 3px 2px 2px #00000092, inset -3px -3px 2px 2px #29292992;
}

.notes-leftside-options-container input:nth-child(1):focus {
  border: 1px solid #dd0000;
}

.notes-leftside-options-container input:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: color;
  background: #14141400 !important;
  height: 30px;
  width: 100%;
  margin: 0;
}

.notes-leftside-options-container input:nth-child(3):hover {
  cursor: pointer;
}

.notes-rightside-options-container {
  position: relative;
  z-index: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "label1 select1" "label2 select2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 1.5rem 2.5rem;
  background: #141414;
}

.notes-rightside-options-container select {
  width: 100%;
  height: 65%;
  padding: 0.75rem;
  background: #141414;
  border-radius: 12px;
  -webkit-box-shadow: inset 3px 3px 2px 2px #00000092, inset -3px -3px 2px 2px #29292992;
          box-shadow: inset 3px 3px 2px 2px #00000092, inset -3px -3px 2px 2px #29292992;
}

.notes-rightside-options-container select:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: select1;
}

.notes-rightside-options-container select:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: select2;
}

.notes-rightside-options-container select option {
  background: #141414 !important;
}

.notes-rightside-options-container select option:hover {
  background: #ff0000;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-auto-rows: 6rem;
  grid-gap: 2.5rem;
  width: 80%;
  max-width: 80rem;
  margin: 15rem auto;
}

section .note-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 4rem 1fr 3rem 3rem;
      grid-template-rows: 4rem 1fr 3rem 3rem;
      grid-template-areas: "title title" "content content" "category category" "date full";
  background: #141414;
  border-radius: 12px;
  -webkit-box-shadow: 5px 5px 5px 3px #00000092, -5px -5px 5px 3px #29292992;
          box-shadow: 5px 5px 5px 3px #00000092, -5px -5px 5px 3px #29292992;
}

section .note-input input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  color: #eeeeee;
  width: 93%;
  padding: 3.5%;
  background: #141414;
  border: none;
}

section .note-input input:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bold;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

section .note-input textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  color: #eeeeee;
  width: 93%;
  padding: 3.5%;
  background: #141414;
  border: none;
  resize: none;
  border-top: 1px #eeeeee dashed;
  border-bottom: 1px #eeeeee dashed;
}

section .note-input input:nth-child(3) {
  border-bottom: 1px #eeeeee dashed;
}

section .note-input select:nth-child(4) {
  background: #141414;
  border: none;
  border-bottom-left-radius: 12px;
  outline: none;
}

section .note-input button:nth-child(5) {
  border-bottom-right-radius: 12px;
}

section .span2 {
  grid-row: span 2;
}

section .span3 {
  grid-row: span 3;
}

section .span4 {
  grid-row: span 4;
}

section .span5 {
  grid-row: span 5;
}

section .span6 {
  grid-row: span 6;
}

section .note-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  -ms-grid-rows: 3rem 1fr 2rem 2rem;
      grid-template-rows: 3rem 1fr 2rem 2rem;
      grid-template-areas: "title title" "content content" "category category" "date full";
  grid-row-gap: 1rem;
  padding: 1.5rem;
  padding-bottom: 3rem;
  background: #141414;
  border-radius: 12px;
  -webkit-box-shadow: 5px 5px 5px 3px #00000092, -5px -5px 5px 3px #29292992;
          box-shadow: 5px 5px 5px 3px #00000092, -5px -5px 5px 3px #29292992;
}

section .note-container h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
}

section .note-container p {
  color: #9b9b9b;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  overflow: hidden;
}

section .note-container span {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: date;
}

section .note-container div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  overflow: hidden;
}

section .note-container div i {
  display: block;
  float: right;
  color: #eeeeee;
  font-style: italic;
  bottom: 0px;
  padding: .25rem 1.5rem;
  background: #141414;
  border-radius: 9999px;
  border: #ff0000 2px solid;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

section .note-container div i:hover {
  color: #ffffff;
  text-shadow: 0px 0px 7px #ffffff;
}

section .note-container a {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: full;
  float: right;
  color: #dd0000;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

section .note-container a:hover {
  color: #ff0000;
  text-decoration: underline;
  text-shadow: 0px 0px 7px #ff0000;
  cursor: pointer;
}

@media (max-width: 1024px) {
  * {
    font-size: 13px;
  }
}

@media (min-width: ) {
  .bgdec {
    position: fixed;
    z-index: -1;
    height: 120%;
    top: 0px;
    overflow-y: hidden;
    background: #141414;
    pointer-events: none;
    -webkit-box-shadow: 5px 5px 8px 5px #00000092, -5px -5px 8px 5px #29292992;
            box-shadow: 5px 5px 8px 5px #00000092, -5px -5px 8px 5px #29292992;
  }
  #background-decoration {
    width: 96%;
    max-width: 96rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #background-decoration0 {
    width: 10%;
    left: 10%;
  }
  #background-decoration1 {
    width: 10%;
    left: 80%;
  }
}

#fullnote form {
  width: 80%;
  margin: auto;
}

#fullnote input, #fullnote textarea, #fullnote select, #fullnote button, #fullnote a, #fullnote div {
  background: #141414;
  color: #eeeeee;
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  height: 20%;
  border: 1px solid red;
}

#fullnote textarea {
  height: 300px;
}

#fullnote .full-note {
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */